@import '../../css/colors';
@import '../../css/fonts';

#app > div {
  font-size: 2em;
  height: 1000px;
  background-color: var(--mainColor);
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
