@import '../../css/colors';
@import '../../css/fonts';

.mainContainer .container {
    padding-left: 0;
    padding-right: 0;
}

.welcomeDiv {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;

  & img {
    max-width: 77%;
    margin: 20px;
    margin-top: 0;
  }

  & p {
    letter-spacing: 0.5em;
    user-select: none;
    cursor: default;
  }

  & span {
    padding: 5px 10px;
    text-align: center;
    margin-right: -0.5em;
    color: var(--mainColor);

    &:nth-child(2) {
      border-left: 2px solid var(--mainColor);
    }
  }
}

@media (min-width: 700px) {
  .mainWelcomeDiv {
      position: absolute;
      top: 110;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
  }

  .welcomeDiv p:hover span:nth-child(2) {
    padding-left: 40px;
  }

  .welcomeDiv p:hover {
    letter-spacing: 1.5em;
  }
}

@media (min-width: 550px) {
  .welcomeDiv {
    margin-top: 0;
    & span {
      padding: 10px 30px;
      margin-right: -1em;

      &:nth-child(2) {
        border-left: 2px solid var(--mainColor);
        transition: padding 1s;
      }
    }

    & p {
      letter-spacing: 1em;
      transition: all 1s;
    }

    & img {
      max-width: 400px;
    }
  }
  .contactElement {
    margin: 30px !important;
  }
}

.mainContainer {
  padding-top: 70px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  & .soundcloudContainer {
    background-color: var(--soundCloud);
    width: 300px;
    margin: auto;
  }
  & h1 {
    position: fixed;
    text-align: center;
    width: inherit;
    color: var(--mainColor);
    margin-top: -0.5%;
  }
}

.contactsRow {
  text-align: center;
  font-size: 36px;
}

.contactElement {
  display: inline-block;
  margin: 10px;
  & i {
    transition: 0.2s;
  }
  &:hover i{
    color: var(--lowerBlue);
  }
}

.lazyLoad {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  background-image: url('../../images/loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  height: 300px;
  width: 300px;
}

.songList .col-md-4 {
  margin-bottom: 30px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.scHeader {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  padding: 10px;
  background-color: var(--soundCloud);
  color: var(--mainColor);
}
