@import '../../css/colors';

.navbar {
  margin-bottom: 0;
  border: 0;
}

.container>.navbar-header {
  background-color: var(--mainColor);
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
  color: var(--mainColor);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: var(--mainColor);
}

.navbar-default .navbar-toggle {
  border-color: var(--fontDefault);
  & .icon-bar {
    background-color: var(--fontDefault);
  }
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-collapse {
  background-color: var(--fontDefault);
}

@media (min-width: 768px){
  .navbar-collapse {
    background-color: transparent;
  }

  .navbar-default .navbar-nav>li>a {
    color: var(--headerDefault);
  }
}
