@import '../../css/colors';

.navbar {
  margin-bottom: 0;
}

.container>.navbar-header {
  background-color: var(--mainColor);
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: var(--headerDefault);
}

.navbar-default .navbar-nav>li>a:hover {
  color: var(--mainColor);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: var(--mainColor);
}
